!!! 5
%html
  %head
    %title Ice Block Tech
    %link(ref="icon" href="/assets/favicon.ico")
    %link(rel="mask-icon" href="/assets/favicon.svg" color="#4f6e9c")
    = stylesheet_tag 'application'
  %body
    .container
      = yield
