!!! 5
%html
  %head
    %title Ice Block Tech
    %link(ref="icon" href="/favicon.ico" type="image/x-icon")
    %link(rel="mask-icon" href="#{image_path('favicon.svg')}" color="#4f6e9c")
    = stylesheet_tag 'application'
  %body
    .container
      = yield
