!!! 5
%html
  %head
    %title Ice Block Tech
    %link(ref="icon shortcut" href="/favicon.ico" type="image/x-icon")
    %link(rel="mask-icon" href="#{image_path('favicon.svg')}" color="#4f6e9c")
    = stylesheet_tag 'application'
    = stylesheet_tag 'https://cdn.rawgit.com/daneden/animate.css/master/animate.min.css'
    %meta(name="description" content="We build awesome products.")
  %body
    .container
      = yield
